.about {
    background: var(--background-color-pink);

    @media screen and (max-width: 767px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 20px;

        background-size: contain;
        background-position: center top 236px;
        background-repeat: no-repeat;

        background-image: url(../images/about/background-milk-desktop.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/about/background-milk-desktop-2x.png);
        }
    }
}

.about__content {
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (max-width: 767px) {
        background-size: contain;
        background-position: center top 390px;
        background-repeat: no-repeat;

        background-image: url(../images/about/background-milk-mobile.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/about/background-milk-mobile-2x.png);
        }
    }

}

.about__subtitle {
    font-family: var(--secondary-font);
    color: var(--accent-secondary-color);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1, 17;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1, 16;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1, 13;
    }
}

.about__title {
    font-family: var(--secondary-font);
    color: var(--accent-color);
    font-weight: 400;
    font-size: 34px;
    line-height: 1, 15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1, 15;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1, 14;
        letter-spacing: 0.06em;
        margin-bottom: 60px;
    }
}

.about__img {
    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 335px;
        margin-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 501px;
        height: 501px;
        margin-right: 99px;
    }
}

.about__descr {
    @media screen and (min-width: 1200px) {
        padding-top: 90px;
    }
}


.about__text {
    font-family: var(--dominant-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    width: 220px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;
        width: 334px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;
        width: 463px;
    }

    &--dark {
        color: var(--secondary-color);

        @media screen and (max-width: 1199px) {
            margin-bottom: 40px;
            height: 79px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 32px;
        }
    }

    &--light {
        color: #907E82;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 1.94;
        }
    }
}

.about__button {
    font-family: var(--dominant-font);
    background-color: var(--dominant-color);
    border: none;
    border-radius: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    text-align: center;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 37px;
    padding-left: 37px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.31;
    }

}

.about__icon {
    color: var(--accent-color);
    margin-left: 14px;
}


.modal-about__title {
    font-family: var(--secondary-font);
    color: var(--accent-color);
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.17;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 30px;
        line-height: 1.25;
    }

    @media screen and (min-width: 1200px) {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.45;
        margin-bottom: 25px;
    }

}

.modal-about__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        gap: 20px;
    }
}

.modal-about__item {
    position: relative;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 10px * (2 - 1)) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 20px * (2 - 1)) / 2);
    }
}


.modal-about__subtitle {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
    margin-bottom: 5px;

    @media screen and (max-width: 767px) {
        &:last-child {
            margin-bottom: 0px
        }
    }
 
    @media screen and (min-width: 768px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }

}

.modal-about__text {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.12;

    @media  screen and (max-width: 767px) {
        margin-bottom: 10px;
        display: none;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


        .modal-about__subtitle:hover + &,
        .modal-about__subtitle:hover + &,
        &:hover, &:focus  {
            display: block;
            opacity: 1;
        }
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.15;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }

}