.advantages { 
    background-color: var(--background-color-pink);
    padding-bottom: 60px;
    // position: relative;
    // padding-left: 16px;

    @media screen and (min-width: 768px) {
            padding-bottom: 64px;
        }

    @media screen and (min-width: 1200px) {
        padding-bottom: 120px;
    }
}

.advantages__container { 
        // width: 100%;
        padding: 0px 20px;
        margin: 0 auto;

        @media screen and (min-width: 320px) {
                width: 320px;
                
            }
    
        @media screen and (min-width: 768px) {
            width: 768px;
            padding: 0px 0px 0px 32px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
            padding: 0px 0px 0px 16px;
        }
}
.advantages__list { 


    @media screen and (max-width:767px) { 
        display: flex;
            flex-direction: column;
            gap: 32px;
    }
   

    @media screen and (min-width:768px) {

            // max-width: 520px;
            display: flex;
            padding-right: 200px;
        }

    @media screen and (min-width:1200px) {
        // max-width: 520px;
        display: flex;
        padding-right: 96px;

                }
}


.advantages__item {
    display: flex;
    flex-direction: column;



    @media screen and (min-width:768px) { 
        &:first-child {
                padding-right: 4px;
        
            }
        
            &:last-child {
                padding-left: 22px;
            }
    }
    
         @media screen and (min-width:1200px) {

            transform: translateY(20%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

             &:first-child {
                 padding-right: 115px;
    
             }
    
             &:last-child {
                 padding-left: 80px;
             }
         }
}

.advantages__item:hover { 
    transform: translateY(0);
}

.advantages_link { 
    display: inline-flex;
    color: var(--accent-secondary-color);
    text-decoration: none;

    
}
.milk::before { 
    content: "";
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/milk.png);
    background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    @media screen and (min-width:768px) {
            margin-bottom: 36px;
        }
    
        @media screen and (min-width:1200px) {
            margin-bottom: 40px;
        }
}

.apple::before {
    content: "";
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/apple.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media screen and (min-width:768px) {
        margin-bottom: 36px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 40px;
    }
}

.heard::before {

     content: "";
     margin-bottom: 16px;
     width: 50px;
     height: 50px;
     background-image: url(../images/advantages/heard.png);
    background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

     @media screen and (min-width:768px) {
         margin-bottom: 36px;
     }

     @media screen and (min-width:1200px) {
         margin-bottom: 40px;
     }
 }


// .advantages__icon { 
   
//     width: 50px;
//     height: 50px;
//     // background-color: var(--accent-color);
//     margin-bottom: 16px;

//     fill: var(--accent-secondary-color);

//     @media screen and (min-width:768px) {
//             margin-bottom: 36px;
//         }

//     @media screen and (min-width:1200px) {
//         margin-bottom: 40px;  
//           }
    
// }


.advantages__bolt { 
    padding: 0;
    margin: 0;
    text-align: start;

    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    
    text-transform: uppercase;
    
    color: var(--accent-color);

    @media screen and (min-width: 768px) {
        text-align: left;
        font-size: 48px;
        line-height: 1.15;
        text-transform: lowercase;
    }

    @media screen and (min-width: 1200px) {
            text-align: left;
            font-size: 58px;
            line-height: 1.14;
        }
        
}

.advantages__text { 
    display: inline-block;
    
    margin-top: 20px;

    font-weight: 700;
        font-size: 12px;
        line-height: 1.7;
    
        color: var(--secondary-color);
    
        @media screen and (min-width:768px) {
            font-size: 14px;
            line-height: 1.74;
            margin-top: 13px;
    }
    

    @media screen and (min-width: 1200px) {
        
        font-size: 16px;
        line-height: 1.76;
        margin-top: 16px;
    }
}

