@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  // ==========  Fonts  ==========
  --dominant-font: 'DM Sans';
  --secondary-font: 'Titan One';

  // ==========  Fonts-color  ==========
  --dominant-color: #ffffff;
  --secondary-color: #000000;
  --grey-color: #907e82;

  // ==========  Modal-window background color  ==========
  --modal-window-color: #e17992;

  // ==========  Accent-color  ==========
  --accent-color: #d41443;
  --accent-secondary-color: #ffa5ba;

  // ==========  Background-section color  ==========
  --background-color-white: #ffffff;
  --background-color-pink: #fff5f6;

  // ==========  Background-section-Hero + background-sectio-Products + color-section-Contacts  ==========
  --item-pink-color: #ffb8ca;
  --item-coffee-color: #f0d1a5;
  --item-green-color: #c2e297;

  // ==========  Button hover  ==========
  --button-hover-color: #ecebeb;
  
  // ==========  Border color  ==========
  --border-color: #e1e1e1;
  --menu--border-color: #E18298;

  //   --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--dominant-font), sans-serif;
  color: var(--dominant-color);
  letter-spacing: 0.04em;
  background-color: var(--item-pink-color);
  font-size: 14px;
  font-weight: 500;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0px 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0px 16px;
  }
  
}


.section {
  padding-top: 60px;
  padding-bottom: 60px;

  // @media screen and (min-width: 1200px) {
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  // }
}

.link-decor {
  text-decoration: none;
}

.section-hero {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;

  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

.button__main {
  display: block;

  padding-left: 37px;
  padding-right: 37px;
  height: 44px;

  border: none;
  border-radius: 22px;
  background-color: var(--dominant-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--accent-color);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }
}

.button--inverse {
  background-color: var(--accent-color);
  color: var(--dominant-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

