.review-section {
  background-color: var(--dominant-color);

  @media screen and (min-width: 768px) {
    padding-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}
.slider__quote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 308px;
  padding: 43px 50px 17px 50px;
  overflow: hidden;
  background-color: #fafafa;
  z-index: 1;

  @media screen and (min-width: 768px) {
    width: 620px;
    height: 164px;
    padding: 20px 6px 36px 6px;
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
    height: 138px;
    padding: 25px 74px 38px 72px;
  }
}

.slider__textarea {
  position: relative;
  width: 180px;
  height: 248px;

  font-size: 12px;
  font-weight: 500;
  line-height: 2.55;
  color: var(--secondary-color);
  padding-left: 15px;
  padding-right: 8px;
  background-color: #fafafa;
  background: repeating-linear-gradient(
    #fafafa 0px,
    #fafafa 30px,
    #e1e1e1 30px,
    #e1e1e1 31px
  );
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    top: -15px;
    left: 3px;
    width: 54px;
    height: 40px;
    background-image: url('../images/reviews/quote.svg');
    z-index: 0;

    @media screen and (min-width: 768px) {
      top: 0px;
      left: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 608px;
    height: 108px;
    padding: 17px 49px 8px 44px;
    background: repeating-linear-gradient(
      #fafafa 0px,
      #fafafa 47px,
      #e1e1e1 47px,
      #e1e1e1 48px,
      #fafafa 48px,
      #fafafa 77px,
      #e1e1e1 77px,
      #e1e1e1 78px,
      #fafafa 78px,
      #fafafa 107px,
      #e1e1e1 107px,
      #e1e1e1 108px
    );
    font-size: 14px;
    line-height: 2.16;
  }

  @media screen and (min-width: 1200px) {
    width: 822px;
    height: 75px;
    padding: 15px 35px 8px 37px;
    background: repeating-linear-gradient(
      #fafafa 0px,
      #fafafa 43px,
      #e1e1e1 43px,
      #e1e1e1 44px,
      #fafafa 44px,
      #fafafa 74px,
      #e1e1e1 74px,
      #e1e1e1 75px
    );
    font-size: 16px;
    line-height: 1.86;
  }
}

.slider__text {
  position: relative;
  z-index: 3;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  color: var(--secondary-color);
  margin-top: 36px;
  margin-bottom: 32px;

  &::after {
    content: '';
    position: absolute;
    top: -16px;
    width: 4px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: -10px 0 0 var(--accent-color), 10px 0 0 var(--accent-color);
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 29px;
    font-size: 20px;
  }
}

.review__image {
  margin-bottom: 36px;
  border-radius: 44px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.swiper {
  position: relative;
}

.swiper .swiper-pagination.custom-pagination {
  position: absolute;
  bottom: 0px;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #d9d9d9;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  &:not(:last-child) {
    margin-right: 18px;
    margin-left: 0px;
  }
  &:last-child {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.swiper .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  border-radius: 0%;
  background-color: #ffffff;
  background-image: url('../images/reviews/home-pagination.svg');
}
