// ===== header ===========================================

.page-header {
        
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1280px;
    z-index: 2;

    padding-top: 8px;

    background-color: transparent;

    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        justify-content: flex-start;
        }

    @media screen and (min-width: 1200px) {
        padding: 37px 16px 0 16px;
        }
}

// ===== logo ===================================================

.logo__link {
    display: block;

    height: 50px;
}

.logo__pic {
    width: 199px;
    height: 50px;

    fill: var(--accent-color);
}


// ===== site-nav mobile-nav ======================================================


.site-nav {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.site-nav__list {
    display: flex;
    gap: 35px;

    margin-left: 128px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
}



.nav__link {
    height: 100%;
}

.site-nav__item:hover,
.site-nav__item:focus {
    color: var(--accent-color);
}

.nav__link, .mobile__link {
    display: block;

    text-decoration: none;
    cursor: pointer;
    color: var(--dominant-color);
}

.current {
    color: var(--accent-color);
}

.nav__link:hover,
.nav__link:focus, 
.mobile__link:hover,
.mobile__link:focus{
    color: var(--accent-color);
}

.nav__link:visited,
.mobile__link:visited {
    color: currentColor;
}

.nav__link:active, 
.mobile__link:active{
    color: var(--accent-color);
    background-color: var(--menu--border-color);
}

.mobile__link:focus {
    color: var(--accent-color);
}

.mobile__link {
    display: flex;
        justify-content: flex-start;
        align-items: center; 
        
    padding-left: 20px;

    width: 100%;
    height: 100%;
}
.mobile-nav {
    width: calc(100% + 40px);
    margin-left: -20px;
}

.mobile__item {
    width: 100%;
    height: 42px;
    
    border-top: 1px solid var(--menu--border-color);

    &:last-child {
        border-bottom: 1px solid var(--menu--border-color);
    }
}

.button__icon {
    margin-left: 12px;
    width: 6px;
    height: 10px;
}

.button--visible {
    display: none;
    margin-left: auto;  

    @media screen and (min-width: 768px) {
        display: block;
        
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}


// ===== menu button ================================================

.menu__button {
    display: block;

    position: absolute;
    top: 27px;
    right: 15px;
    z-index: 10;
    
    width: 44px;
    height: 44px;
    
    border: 0;
    border-radius: 0;

    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
    top: 46px;
    right: 214px;

    }
    @media screen and (min-width: 1200px) {
        display: none; 
        
    }
    &.is-open {
        position: fixed;

        @media screen and (min-width:768px) {
            top: 20px;
            right: 32px;
        }
    }
} 

.menu__close {
    display: none;
    transform: translateX(28%);
}

.menu__button .menu__close {
    position: absolute;
    display: none;
}

.menu__button.is-open .menu__close {
    display: block;
    position: fixed;

}

.menu__button.is-open .menu__burger {
    display: none;
}
    
// ===== mob menu ============================================== 

.mobile-menu {

    opacity: 0;

    // display: none;

    position: fixed;    
    top: 0;
    right: 0;
    z-index: 6;

    padding: 60px 20;

    width: 250px;
    height: 100%;

    background-color: var(--modal-window-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    transform: translateX(100%);

    transition: transform 500ms cubic-bezier(0.8, 0.5, 0.2, 1), opacity 500ms cubic-bezier(0.5, 0, 0.2, 1);

    &.is-open {

        opacity: 1;
        transform: translateX(0);
    }

}

.button--mobile {
    width: 209px;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 768px) {
        width: 186px;
        margin-left: 0;
    }

}

.button--mobile > .button__icon {
    margin-left: 21px;
}

.mobile-nav > .nav__item {
    margin-bottom: 23px;
}

// ===== hero ============================================== 

.hero {

    position: relative;
    min-width: 320px;
    max-width: 1280px;
    width: 100%;

    height: 502px;

    overflow: hidden;

    background-color: var(--item-pink-color);


    @media screen and (min-width: 768px) {
        height: 416px;
    }

    @media screen and (min-width: 1200px) {
        height: 664px;
    }

}

// ===== hero pictures ===================================

.hero__circle {

    display: block;
    
    position: absolute;

    top: 83px;
    left: 36px;
    z-index: 1;

    width: 346px;
    height: 344px;

    background-color: var(--accent-secondary-color);
    border-radius: 50%;

    @media screen and (min-width: 768px) {
        top: 43px;
        left: 248px;
        width: 346px;
        height: 344px;
    }
    
    @media screen and (min-width: 1200px) {
        top: 54px;
        left: 517px;
        width: 534px;
        height: 534px;
    }

}

.hero__icecream {

    display: block;

    position: absolute;
    
    bottom: 0;
    left: 117px;
    z-index: 3;

    @media screen and (min-width: 768px) {
        left: 332px;
        width: 143px;
        &:hover { 
            animation-name: changePos;
            animation-duration: 2000ms;
            animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }

        @keyframes changePos {
            0% { 
                transform: rotateY(10deg);
            }
            50% { 
                transform: rotateY(150deg);
            }
            100% { 
                transform: rotateY(360deg);
            }
        }
    }
    @media screen and (min-width: 1200px) {
        left: 636px;
        width: 236px;
    }

} 

.hero__position {
    position: relative;
    
}

.hero__milk {
    display: none;

    position: absolute;
    z-index: 3;

    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
            scale: 1.2;
        }

    @media screen and (min-width: 768px) {
        display: block;
        bottom: 16px;
        left: 32px;

        }
        
    @media screen and (min-width: 1200px) {
        bottom: 60px;
        left: 16px;

        width: 213px;
        }
}

.hero__girl {
    display: none;

    position: absolute;
    z-index: 3;

    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover { 
        scale: 1.2;
    }

    @media screen and (min-width: 768px) {
        display: block;
        bottom: 0;
        right: 32px;
        }
    
        @media screen and (min-width: 1200px) {
        right: 16px;
    
        width: 304px;
        }
}


// ===== hero text =========================================

.hero__title--main {
    
    position: absolute;
    z-index: 4;
    top: 194px;
    left: 20px;

    @media screen and (min-width: 768px) {
        top: 102px;
        left: 32px;
    }
    @media screen and (min-width: 1200px) {
        top: 147px;
        left: 16px;
    }

}

.hero__title {
    margin-bottom: 20px;

    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    text-transform: uppercase;

    color: var(--dominant-color);

    @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
    }
    @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 24px;
    }
}

.hero__title--accent {

    font-size: 48px;
    line-height: 0.96;
    text-transform: uppercase;

    color: var(--accent-color);

    @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
    }
    @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 0.9;
    }
}

.hero__buttons {
    display: flex;
    gap: 8px;
    
    @media screen and (min-width: 1200px) {
        gap: 12px;
    }
}

.button--small {
    display: block;

    padding: 7px 15px;
    
    height: 24px;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    text-decoration: none;

    @media screen and (min-width: 1200px) {
    padding: 10px 25px;

        height: 40px;

        font-size: 14px;
        line-height: 1.29;
    }
}

.button--small:visited {
    background-color: var(--dominant-color);
}

.button--inverse:visited {
    background-color: var(--accent-color);
}

.hero__arrow-circle {
    display: none;
        
    width: 18px;
    height: 18px;
    border-radius: 50%;
    
    background-color: var(--dominant-color);
    
    cursor: pointer;
    
    @media screen and (min-width: 768px) {
        display: block;
        
        position: absolute;
        bottom: 56px;
        left: 184px;
    }
        
    @media screen and (min-width: 1200px) {
        top: 554px;
        left: 229px;
        
        width: 26px;
        height: 26px;
    }

}

.hero__arrow {
    position: absolute;
    left: 5px;
    
    width: 18px;
    height: 18px;

    fill: var(--accent-color);

    @media screen and (min-width: 1200px) {
    top: 4px;
    left: 8px;
    }
}

.hero__info {
    display: none;

    position: absolute;
        top: 92px;
        right: 20px;
        z-index: 1;

    font-family: var(--secondary-font);
        font-weight: 400;
        font-size: 28px;
        line-height: 1.14;
        text-align: right;
        
        color: var(--accent-color);
    
    @media screen and (min-width: 768px) {
        display: block;
        right: 40px;
        
    }
        
    @media screen and (min-width: 1200px) {
        top: 156px;
        right: 34px;
        
        font-size: 46px;
        line-height: 1.15;
    }


    &::before {
        content: '';

        position: absolute;
        top: -2px;
        right: -8px;
        z-index: -1;

        width: 16px;
        height: 16px;
        border-radius: 50%;

        
        background-color: var(--dominant-color);
        @media screen and (min-width: 1200px) {
            top: -4px;
            right: -18px;
            width: 30px;
            height: 30px;
        
            }
    }
}

.hero__text-right {
    font-family: var(--dominant-font);
    font-size: 8px;
    line-height: 10px;
    text-align: right;

    color: var(--dominant-color);
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.29;

    }
}

.hero__info--23 {
    top: 152px;

    @media screen and (min-width: 1200px) {
    top: 244px;
    }

}

.hero__text {
    display: none;

    position: absolute;
    z-index: 3;

    width: 124px;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    
    @media screen and (min-width: 768px) {
        display: block;

        top: 287px;
        left: 184;
    }
    
    @media screen and (min-width: 1200px) {
        top: 456px;
        left: 229px;

        width: 200px;
        
        font-size: 14px;
        line-height: 1.43;
        
        
    }

}


// ================ modal window ================
.form-header{
    padding: 10px;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 768px){
        padding: 40px;}
    
    @media screen and (min-width: 1200px){
        padding: 40px;}
        
}
.hero-modal {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    color: var(--secondary-color);
    background-color: rgba(98, 98, 98, 0.5);
    border-radius: 20px;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1) ;
    background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/header-hero/raspberries-ice-cream.jpg);

        @media screen and (min-width: 768px){
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;}

        @media screen and (min-width: 1200px){
            left: 18%;
            top: 10%;
            width: 750px;
            height: 100%;}
                
    &.is-hidden { 
        visibility: visible;
        opacity: 1;
        pointer-events: visible;
    }       
}
.hero-modal__container {
    display: flex;
    width: 100%;
    height: 100%;
}

.hero-modal__body {
    position: fixed;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    @media screen and (min-width: 768px) {
        width: 768px;
        display: flex;
        
        
        padding-left: 350px;
        padding-top: 80px;}
        
    
    @media screen and (min-width: 1200px){
        padding-left: 350px;
        padding-top: 80px;}  
        
}
.hero-modal__title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;

    font-family: var(--secondary-font);
    font-size: 35px;
    color: var(--accent-color);
}

.hero-modal__close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 50%;

    background-color: var(--accent-secondary-color);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 2px solid var(--accent-color);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.69);
    }
}

.hero-modal__input {
    display: block;
    outline: none;
    height: 50px;
    width: 300px;
    
    margin-bottom: 30px;
    
    border: 2px solid rgba(193, 148, 148, 0.2);
    
    border-radius: 10px;

    @media screen and (min-width: 768px){
        height: 50px;
        width: 100%;
        margin-bottom: 30px;}
    
    @media screen and (min-width: 1200px){
        height: 50px;
        width: 100%;
        margin-bottom: 30px;}       
}
.checkbox-flex { 
    display: flex;
    gap: 5px;
    padding-left: 10px;
    @media screen and (min-width: 768px){
    padding-left: 30px;}
         @media screen and (min-width: 1200px) {
             padding-left: 30px;
         }
}
.checkbox {
    margin-bottom: 15px;
}
.hero-modal__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
