@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --dominant-font: "DM Sans";
  --secondary-font: "Titan One";
  --dominant-color: #ffffff;
  --secondary-color: #000000;
  --grey-color: #907e82;
  --modal-window-color: #e17992;
  --accent-color: #d41443;
  --accent-secondary-color: #ffa5ba;
  --background-color-white: #ffffff;
  --background-color-pink: #fff5f6;
  --item-pink-color: #ffb8ca;
  --item-coffee-color: #f0d1a5;
  --item-green-color: #c2e297;
  --button-hover-color: #ecebeb;
  --border-color: #e1e1e1;
}

body {
  font-family: var(--dominant-font), sans-serif;
  color: var(--dominant-color);
  letter-spacing: 0.04em;
  background-color: var(--item-pink-color);
  font-size: 14px;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0px 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-decor {
  text-decoration: none;
}

.section-hero {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .section-hero {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

.button__main {
  display: block;
  padding-left: 37px;
  padding-right: 37px;
  height: 44px;
  border: none;
  border-radius: 22px;
  background-color: var(--dominant-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);
  cursor: pointer;
}
.button__main:hover, .button__main:focus {
  background-color: var(--button-hover-color);
}

.button--inverse {
  background-color: var(--accent-color);
  color: var(--dominant-color);
}
.button--inverse:hover, .button--inverse:focus {
  background-color: var(--accent-color);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1280px;
  z-index: 2;
  padding-top: 8px;
  background-color: transparent;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 32px;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding: 37px 16px 0 16px;
  }
}

.logo__link {
  display: block;
  height: 50px;
}

.logo__pic {
  width: 199px;
  height: 50px;
  fill: var(--accent-color);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: block;
  }
}

.site-nav__list {
  display: flex;
  gap: 35px;
  margin-left: 128px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.site-nav__item:hover,
.site-nav__item:focus {
  color: var(--accent-color);
}

.nav__link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: var(--dominant-color);
}

.current {
  color: var(--accent-color);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link:visited {
  color: currentColor;
}

.nav__link:active {
  color: var(--dominant-color);
}

.button__icon {
  margin-left: 12px;
  width: 6px;
  height: 10px;
}

.button--visible {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .button--visible {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .button--visible {
    margin-left: auto;
  }
}

.menu__button {
  display: block;
  position: absolute;
  top: 27px;
  right: 15px;
  z-index: 10;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu__button {
    top: 46px;
    right: 214px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__button {
    display: none;
  }
}

.menu__close {
  display: none;
  transform: translateX(28%);
}

.menu__button .menu__close {
  position: absolute;
  display: none;
}

.menu__button.is-open .menu__close {
  display: block;
  position: fixed;
}

.menu__button.is-open .menu__burger {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;
  padding: 60px 20;
  width: 250px;
  height: 100%;
  background-color: var(--modal-window-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
}
.mobile-menu.is-open {
  display: block;
}

.button--mobile {
  width: 209px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .button--mobile {
    width: 186px;
    margin-left: 0;
  }
}

.button--mobile > .button__icon {
  margin-left: 21px;
}

.mobile-nav > .nav__item {
  margin-bottom: 23px;
}

.hero {
  position: relative;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  height: 502px;
  overflow: hidden;
  background-color: var(--item-pink-color);
}
@media screen and (min-width: 768px) {
  .hero {
    height: 416px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 664px;
  }
}

.hero__circle {
  display: block;
  position: absolute;
  top: 83px;
  left: 36px;
  z-index: 1;
  width: 346px;
  height: 344px;
  background-color: var(--accent-secondary-color);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .hero__circle {
    top: 43px;
    left: 248px;
    width: 346px;
    height: 344px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__circle {
    top: 54px;
    left: 517px;
    width: 534px;
    height: 534px;
  }
}

.hero__icecream {
  display: block;
  position: absolute;
  bottom: 0;
  left: 117px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .hero__icecream {
    left: 332px;
    width: 143px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__icecream {
    left: 636px;
    width: 236px;
  }
}

.hero__milk {
  display: none;
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .hero__milk {
    display: block;
    bottom: 16px;
    left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__milk {
    bottom: 60px;
    left: 16px;
    width: 213px;
  }
}

.hero__girl {
  display: none;
  position: absolute;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .hero__girl {
    display: block;
    bottom: 0;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__girl {
    right: 16px;
    width: 304px;
  }
}

.hero__title--main {
  position: absolute;
  z-index: 4;
  top: 194px;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .hero__title--main {
    top: 102px;
    left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title--main {
    top: 147px;
    left: 16px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--dominant-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 24px;
  }
}

.hero__title--accent {
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero__title--accent {
    font-size: 34px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title--accent {
    font-size: 58px;
    line-height: 0.9;
  }
}

.hero__buttons {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .hero__buttons {
    gap: 12px;
  }
}

.button--small {
  display: block;
  padding: 7px 15px;
  height: 24px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .button--small {
    padding: 10px 25px;
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.button--small:visited {
  background-color: var(--dominant-color);
}

.button--inverse:visited {
  background-color: var(--accent-color);
}

.hero__arrow-circle {
  display: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--dominant-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hero__arrow-circle {
    display: block;
    position: absolute;
    bottom: 56px;
    left: 184px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__arrow-circle {
    top: 554px;
    left: 229px;
    width: 26px;
    height: 26px;
  }
}

.hero__arrow {
  position: absolute;
  left: 5px;
  width: 18px;
  height: 18px;
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .hero__arrow {
    top: 4px;
    left: 8px;
  }
}

.hero__info {
  display: none;
  position: absolute;
  top: 92px;
  right: 20px;
  z-index: 1;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero__info {
    display: block;
    right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__info {
    top: 156px;
    right: 34px;
    font-size: 46px;
    line-height: 1.15;
  }
}
.hero__info::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -8px;
  z-index: -1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--dominant-color);
}
@media screen and (min-width: 1200px) {
  .hero__info::before {
    top: -4px;
    right: -18px;
    width: 30px;
    height: 30px;
  }
}

.hero__text-right {
  font-family: var(--dominant-font);
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: var(--dominant-color);
}
@media screen and (min-width: 1200px) {
  .hero__text-right {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__info--23 {
  top: 152px;
}
@media screen and (min-width: 1200px) {
  .hero__info--23 {
    top: 244px;
  }
}

.hero__text {
  display: none;
  position: absolute;
  z-index: 3;
  width: 124px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .hero__text {
    display: block;
    top: 287px;
    left: 184;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    top: 456px;
    left: 229px;
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.section__products {
  background-color: var(--background-color-white);
}

.products__text {
  display: flex;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.17;
  font-weight: 400;
  text-transform: uppercase;
  justify-content: center;
  color: var(--accent-secondary-color);
}
@media screen and (min-width: 768px) {
  .products__text {
    font-size: 26px;
    line-height: 1.15;
  }
}

.products__title {
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 1.15;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 148px;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
    margin-top: 18px;
    margin-bottom: 158px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 140px;
}
@media screen and (min-width: 768px) {
  .products__list {
    gap: 16px;
  }
}

.products__items {
  position: relative;
  display: block;
  justify-content: center;
  width: 280px;
  height: 489px;
  padding-top: 160px;
  padding-bottom: 40px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .products__items {
    width: 224px;
    height: 473px;
    padding-top: 118px;
  }
}

.products__items:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 280px;
  height: 280px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/products/ice-cream.png);
}
@media screen and (min-width: 768px) {
  .products__items:nth-child(1)::before {
    width: 224px;
    height: 224px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__items:nth-child(1)::before {
    background-image: url(../images/products/ice-cream@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .products__items:nth-child(1)::before {
    background-image: url(../images/products/ice-cream-md.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__items:nth-child(1)::before {
    background-image: url(../images/products/ice-cream-md@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__items:nth-child(1)::before {
    background-image: url(../images/products/ice-cream-lg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__items:nth-child(1)::before {
    background-image: url(../images/products/ice-cream-lg@2x.png);
  }
}

.products__items:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 280px;
  height: 280px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/products/coffee.png);
}
@media screen and (min-width: 768px) {
  .products__items:nth-child(2)::before {
    width: 224px;
    height: 224px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__items:nth-child(2)::before {
    background-image: url(../images/products/coffee@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .products__items:nth-child(2)::before {
    background-image: url(../images/products/coffee-md.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__items:nth-child(2)::before {
    background-image: url(../images/products/choko-md@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__items:nth-child(2)::before {
    background-image: url(../images/products/coffee-lg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__items:nth-child(2)::before {
    background-image: url(../images/products/coffee-lg@2x.png);
  }
}

.products__items:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 280px;
  height: 280px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/products/choco.png);
}
@media screen and (min-width: 768px) {
  .products__items:nth-child(3)::before {
    width: 224px;
    height: 224px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__items:nth-child(3)::before {
    background-image: url(../images/products/choco@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .products__items:nth-child(3)::before {
    background-image: url(../images/products/choko-md.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__items:nth-child(3)::before {
    background-image: url(../images/products/choko-md@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__items:nth-child(3)::before {
    background-image: url(../images/products/choco-lg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__items:nth-child(3)::before {
    background-image: url(../images/products/choco-lg@2x.png);
  }
}

.products__item--rectangle-pink {
  background-color: var(--item-pink-color);
}

.products__item--rectangle-coffee {
  background-color: var(--item-coffee-color);
}

.products__item--rectangle-green {
  background-color: var(--item-green-color);
}

.products__item-title {
  position: relative;
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: var(--dominant-color);
}
.products__item-title:before {
  content: "";
  position: absolute;
  display: block;
  left: 127px;
  bottom: -32px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--dominant-color);
  box-shadow: 10px 0 0 var(--dominant-color), 20px 0 0 var(--dominant-color);
  transform: translateY(100%);
}
@media screen and (min-width: 768px) {
  .products__item-title:before {
    left: 99px;
  }
}

.products__item-text {
  font-family: var(--dominant-font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  width: 200px;
  height: auto;
  text-align: center;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  color: var(--dominant-color);
}
@media screen and (min-width: 768px) {
  .products__item-text {
    line-height: 1.8;
    width: 160px;
  }
}

.products__button {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-left: 120px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--background-color-white);
}
@media screen and (min-width: 768px) {
  .products__button {
    margin-left: 92px;
  }
}

.products__icon {
  display: block;
  justify-content: center;
  width: 20px;
  height: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
  transform: translate(10px, 10px);
}

.about {
  background: var(--background-color-pink);
}
@media screen and (max-width: 767px) {
  .about {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 20px;
    background-size: content;
    background-position: center top 236px;
    background-repeat: no-repeat;
    background-image: url(../images/about/background-milk-desktop.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/background-milk-desktop-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .about__content {
    background-size: content;
    background-position: center top 390px;
    background-repeat: no-repeat;
    background-image: url(../images/about/background-milk-mobile.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about__content {
    background-image: url(../images/about/background-milk-mobile-2x.png);
  }
}

.about__subtitle {
  font-family: var(--secondary-font);
  color: var(--accent-secondary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 17;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    font-size: 26px;
    line-height: 1, 16;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .about__subtitle {
    font-size: 30px;
    line-height: 1, 13;
  }
}

.about__title {
  font-family: var(--secondary-font);
  color: var(--accent-color);
  font-weight: 400;
  font-size: 34px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 1, 15;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 58px;
    line-height: 1, 14;
    letter-spacing: 0.06em;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .about__img {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .about__img {
    width: 336px;
    height: 335px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    width: 501px;
    height: 501px;
    margin-right: 99px;
  }
}

@media screen and (min-width: 1200px) {
  .about__descr {
    padding-top: 90px;
  }
}

.about__text {
  font-family: var(--dominant-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  width: 220px;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    line-height: 1.76;
    width: 463px;
  }
}
.about__text--dark {
  color: var(--secondary-color);
}
@media screen and (max-width: 1199px) {
  .about__text--dark {
    margin-bottom: 40px;
    height: 79px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--dark {
    margin-bottom: 32px;
  }
}
.about__text--light {
  color: #907E82;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__text--light {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--light {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.94;
  }
}

.about__button {
  font-family: var(--dominant-font);
  background-color: var(--dominant-color);
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  text-align: center;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 37px;
  padding-left: 37px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button:hover, .about__button:focus {
  background-color: #ECEBEB;
}
@media screen and (min-width: 768px) {
  .about__button {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__icon {
  color: var(--accent-color);
  margin-left: 14px;
}

.modal-about__title {
  font-family: var(--secondary-font);
  color: var(--accent-color);
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.17;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-about__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1200px) {
  .modal-about__title {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.45;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .modal-about__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-about__list {
    gap: 20px;
  }
}

.modal-about__item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .modal-about__item {
    flex-basis: calc((100% - 10px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .modal-about__item {
    flex-basis: calc((100% - 20px) / 2);
  }
}

.modal-about__subtitle {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .modal-about__subtitle:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .modal-about__subtitle {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-about__subtitle {
    font-size: 20px;
  }
}

.modal-about__text {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.12;
}
@media screen and (max-width: 767px) {
  .modal-about__text {
    margin-bottom: 10px;
    display: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-about__subtitle:hover + .modal-about__text, .modal-about__subtitle:hover + .modal-about__text, .modal-about__text:hover, .modal-about__text:focus {
    display: block;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .modal-about__text {
    font-size: 14px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .modal-about__text {
    font-size: 16px;
  }
}

.advantages {
  background-color: var(--background-color-pink);
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 120px;
  }
}

.advantages__container {
  padding: 0px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .advantages__container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__container {
    width: 768px;
    padding: 0px 0px 0px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__container {
    width: 1200px;
    padding: 0px 0px 0px 16px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    padding-right: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    padding-right: 96px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantages__item:first-child {
    padding-right: 4px;
  }
  .advantages__item:last-child {
    padding-left: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    transform: translateY(20%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .advantages__item:first-child {
    padding-right: 115px;
  }
  .advantages__item:last-child {
    padding-left: 80px;
  }
}

.advantages__item:hover {
  transform: translateY(0);
}

.advantages_link {
  display: inline-flex;
  color: var(--accent-secondary-color);
  text-decoration: none;
}

.milk::before {
  content: "";
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/milk.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .milk::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .milk::before {
    margin-bottom: 40px;
  }
}

.apple::before {
  content: "";
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/apple.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .apple::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .apple::before {
    margin-bottom: 40px;
  }
}

.heard::before {
  content: "";
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/heard.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .heard::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .heard::before {
    margin-bottom: 40px;
  }
}

.advantages__bolt {
  padding: 0;
  margin: 0;
  text-align: start;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .advantages__bolt {
    text-align: left;
    font-size: 48px;
    line-height: 1.15;
    text-transform: lowercase;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__bolt {
    text-align: left;
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages__text {
  display: inline-block;
  margin-top: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.74;
    margin-top: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
    margin-top: 16px;
  }
}

.gallery-section {
  background: linear-gradient(var(--background-color-pink) 0%, var(--background-color-pink) 27%, var(--dominant-color) 27%);
}
@media screen and (max-width: 1199px) {
  .gallery-section {
    padding-top: 0px;
    padding-bottom: 0px;
    background: linear-gradient(var(--background-color-pink) 0%, var(--background-color-pink) 21%, var(--dominant-color) 21%);
  }
}

.gallery__container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .gallery__container {
    padding-left: 93px;
    padding-right: 93px;
  }
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: 43px 43px 89px 43px 43px 43px;
  grid-auto-rows: minmax(auto, 136px);
  grid-column-gap: 2px;
}
@media screen and (max-width: 767px) {
  .gallery__wrapper {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__wrapper {
    grid-template-columns: 104px 104px 214px 104px 104px 104px;
    grid-auto-rows: minmax(auto, 326px);
    grid-column-gap: 6px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__wrapper {
    grid-template-columns: 138px 138px 283px 138px 138px 138px;
    grid-auto-rows: minmax(auto, 430px);
    grid-column-gap: 8px;
    width: 1013px;
  }
}

.grid_element {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
@media screen and (min-width: 768px) {
  .grid_element {
    gap: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .grid_element {
    gap: 8px;
  }
}

.column_1 {
  padding-top: 104%;
}

.column_2 {
  padding-top: 65%;
}

.column_4 {
  padding-top: 72%;
}

.column_5 {
  padding-top: 48%;
}

.column_6 {
  padding-top: 112%;
}

.gallery__image {
  border-radius: 8px;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.gallery__image:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .gallery__image {
    border-radius: 20px;
  }
}

.gallery__image--big:hover {
  transform: scale(1.05);
}

.contacts-container {
  width: 320px;
  padding: 60px 20px 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contacts-container {
    width: 768px;
    padding: 0 16px;
    padding-top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-container {
    width: 1200px;
    padding-top: 120px;
  }
}

.contacts {
  background-image: linear-gradient(to bottom, var(--dominant-color) 0%, var(--dominant-color) 22%, var(--background-color-pink) 22%, var(--background-color-pink) 100%);
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts-wrapper {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts-card {
  padding: 40px 32px;
  background-color: var(--dominant-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.cafe {
  display: inline-block;
  background-color: var(--item-coffee-color);
  width: 80px;
  height: 16px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--dominant-color);
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .cafe {
    width: 73px;
    height: 28px;
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 32px;
  }
}

.truck {
  display: inline-block;
  background-color: var(--item-green-color);
  width: 130px;
  height: 16px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--dominant-color);
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .truck {
    width: 138px;
    height: 28px;
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 32px;
  }
}

.contacts-card__city {
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts-card__city {
    font-size: 14px;
    line-height: 1.8571428571;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-card__city {
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 8px;
  }
}

.contacts-card__item {
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-color);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts-card__item {
    font-size: 14px;
    line-height: 1.6428571429;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-card__item {
    font-size: 16px;
    line-height: 1.8125;
  }
}

.contacts-card__schedule {
  padding: 24px 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts-card__schedule {
    padding: 32px 0;
    margin-bottom: 32px;
  }
}

.contacts-card__day {
  font-size: 12px;
  line-height: 1.8333333333;
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .contacts-card__day {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-card__day {
    font-size: 16px;
    line-height: 2.1428571429;
  }
}

.contacts-card__time {
  font-size: 12px;
  line-height: 1.8333333333;
  color: var(--accent-secondary-color);
}
@media screen and (min-width: 768px) {
  .contacts-card__time {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-card__time {
    font-size: 16px;
    line-height: 2.1428571429;
  }
}

.time-margin {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .time-margin {
    margin-bottom: 12px;
  }
}

.auth__link {
  font-size: 12px;
  line-height: 1.5;
  color: var(--grey-color);
}
@media screen and (min-width: 768px) {
  .auth__link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .auth__link {
    font-size: 16px;
    line-height: 1.8125;
  }
}
.auth__link:hover, .auth__link:focus {
  color: var(--accent-color);
}

.contacts-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .contacts-btn {
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts-btn {
    gap: 12px;
  }
}

.contacts-btn--light {
  display: block;
  height: 44px;
  width: 162px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  text-align: center;
  border: none;
  border-radius: 22px;
  background-color: var(--dominant-color);
  color: var(--accent-color);
  cursor: pointer;
}
.contacts-btn--light:hover, .contacts-btn--light:focus {
  background-color: var(--button-hover-color);
}
@media screen and (min-width: 768px) {
  .contacts-btn--light {
    width: 174px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-btn--light {
    width: 168px;
  }
}

.contacts-btn--accent {
  display: block;
  height: 44px;
  width: 162px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  text-align: center;
  border: none;
  border-radius: 22px;
  background-color: var(--accent-color);
  color: var(--dominant-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .contacts-btn--accent {
    width: 192px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-btn--accent {
    width: 198px;
  }
}

.contacts-btn--svg-dark {
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .contacts-btn--svg-dark {
    margin-left: 13px;
  }
}

.contacts-btn--svg-light {
  margin-left: 13px;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 3px;
  background-color: #FFF5F6;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    padding-top: 120px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer .container {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
  }
}

.footer-nav {
  border-bottom: 1px solid #E1E1E1;
}

.footer-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-list {
    position: relative;
    margin-bottom: 60px;
  }
}

.footer-list__home {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--accent-secondary-color);
  width: 232px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-list__home {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list__home {
    flex-wrap: nowrap;
    font-size: 30px;
    line-height: 34px;
    width: 472px;
  }
}

.footer-list__passion {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  width: 200px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer-list__passion {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list__passion {
    flex-wrap: nowrap;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    width: 100%;
  }
}

.footer-social {
  padding-bottom: 40px;
}

.footer-social__list {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 32px;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .footer-social__list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social__list {
    margin-top: 0;
  }
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FEA5BB;
  fill: currentColor;
}
.footer-social__link:hover, .footer-social__link:focus {
  background: var(--accent-color);
  color: var(--dominant-color);
  fill: currentColor;
}

.footer-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--dominant-font);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
}
.footer-item__text {
  color: var(--secondary-color);
}
.footer-item__contact {
  color: var(--accent-color);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer-item {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-item {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer-text {
  padding-top: 16px;
  max-width: 150px;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.footer-text__ice {
  font-family: var(--dominant-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .footer-text__ice {
    line-height: 186%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-text__ice {
    line-height: 186%;
  }
}

.review-section {
  background-color: var(--dominant-color);
}
@media screen and (min-width: 768px) {
  .review-section {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .review-section {
    padding-bottom: 60px;
  }
}

.slider__quote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 308px;
  padding: 43px 50px 17px 50px;
  overflow: hidden;
  background-color: #fafafa;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .slider__quote {
    width: 620px;
    height: 164px;
    padding: 20px 6px 36px 6px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__quote {
    width: 968px;
    height: 138px;
    padding: 25px 74px 38px 72px;
  }
}

.slider__textarea {
  position: relative;
  width: 180px;
  height: 248px;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.55;
  color: var(--secondary-color);
  padding-left: 15px;
  padding-right: 8px;
  background-color: #fafafa;
  background: repeating-linear-gradient(#E1E1E1 0px, #E1E1E1 1px, #fafafa 1px, #fafafa 34px);
  text-align: center;
}
.slider__textarea::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 3px;
  width: 54px;
  height: 40px;
  background-image: url("../images/reviews/quote.svg");
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .slider__textarea::after {
    top: 0px;
    left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .slider__textarea {
    width: 608px;
    height: 108px;
    padding: 17px 49px 8px 44px;
    background: repeating-linear-gradient(#fafafa 0px, #fafafa 47px, #E1E1E1 47px, #E1E1E1 48px, #fafafa 48px, #fafafa 77px, #E1E1E1 77px, #E1E1E1 78px, #fafafa 78px, #fafafa 107px, #E1E1E1 107px, #E1E1E1 108px);
    font-size: 14px;
    line-height: 2.16;
  }
}
@media screen and (min-width: 1200px) {
  .slider__textarea {
    width: 822px;
    height: 75px;
    padding: 15px 35px 8px 37px;
    background: repeating-linear-gradient(#fafafa 0px, #fafafa 43px, #E1E1E1 43px, #E1E1E1 44px, #fafafa 44px, #fafafa 74px, #E1E1E1 74px, #E1E1E1 75px);
    font-size: 16px;
    line-height: 1.86;
  }
}

.slider__text {
  position: relative;
  z-index: 3;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  color: var(--secondary-color);
  margin-top: 36px;
  margin-bottom: 32px;
}
.slider__title::after {
  content: "";
  position: absolute;
  top: -16px;
  width: 4px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: -10px 0 0 var(--accent-color), 10px 0 0 var(--accent-color);
  align-items: center;
}
@media screen and (min-width: 768px) {
  .slider__title {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .slider__title {
    margin-top: 29px;
    font-size: 20px;
  }
}

.review__image {
  margin-bottom: 36px;
  border-radius: 44px;
}
@media screen and (min-width: 768px) {
  .review__image {
    margin-bottom: 20px;
  }
}

.swiper {
  position: relative;
}

.swiper .swiper-pagination.custom-pagination {
  position: absolute;
  bottom: 0px;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #D9D9D9;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 0px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child), .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 18px;
}

.swiper .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  border-radius: 0%;
  background-color: #ffffff;
  background-image: url("../images/reviews/home-pagination.svg");
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .modal__is-hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
  }
}

.about__modal {
  background: var(--background-color-pink);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .about__modal {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 290px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 40px;
    min-height: 200px;
    background-size: content;
    background-position: center top 0px;
    background-repeat: no-repeat;
    background-image: url(../images/about/background-milk-mobile.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about__modal {
    background-image: url(../images/about/background-milk-mobile-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .about__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 738px;
    padding: 40px 20px;
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .about__modal {
    width: 1200px;
    padding: 40px 20px;
    background-size: content;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/about/background-milk-desktop.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__modal {
    background-image: url(../images/about/background-milk-desktop-2x.png);
  }
}

.modal__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  margin-left: auto;
  z-index: 150;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--accent-secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: var(--dominant-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover {
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .modal__close-button {
    right: 8px;
    top: 8px;
  }
}/*# sourceMappingURL=index.css.map */