<section class="advantages" id="advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="advantages__container">
    <ul class="advantages__list list">
      <li class="advantages__item advantages_link milk">
        <!-- <svg class="advantages__icon">
          <use href="./images/icons.svg#icon-bucket-milk"></use>
        </svg> -->
        <p class="advantages__bolt">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages_link apple">
        <!-- <svg class="advantages__icon">
          <use href="./images/icons.svg#icon-bucket-apple"></use>
        </svg> -->
        <p class="advantages__bolt">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages_link heard">
        <!-- <svg class="advantages__icon">
          <use href="./images/icons.svg#icon-heart"></use>
        </svg> -->
        <p class="advantages__bolt">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
