<section class="advantages">
  <div class="advantages__container">
    <ul class="advantages__list list">
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use></use>
        </svg>
        <p class="advantages__bolt">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use></use>
        </svg>
        <p class="advantages__bolt">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use></use>
        </svg>
        <p class="advantages__bolt">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
