<section class="">
    <ul class="list">
        <li class="">
            <svg>
                <use></use>
            </svg>
            <b>721</b>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="">
             <svg>
                <use></use>
            </svg>
            <b>16kg</b>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="">
             <svg>
                <use></use>
            </svg>
            <b>84</b>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>