<!-- section Contacts -->

<section class="contacts">
  <div class="contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-wrapper">
      <div class="contacts-card">
        <span class="cafe">CAFE</span>
        <ul class="contacts-card__list list">
          <li class="contacts-card__city">Chicago</li>
          <li class="contacts-card__item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts-card__schedule list">
          <li class="contacts-card__day">Monday - Friday</li>
          <li class="contacts-card__time time-margin">06:00 AM - 10:00 PM</li>
          <li class="contacts-card__day">Saturday - Sunday</li>
          <li class="contacts-card__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="auth list">
          <li class="auth__item">
            <a class="auth__link link-decor" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="auth__item">
            <a class="auth__link link-decor" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="contacts-card">
        <span class="truck">FOODTRUCK</span>
        <ul class="contacts-card__list list">
          <li class="contacts-card__city">Los Angeles</li>
          <li class="contacts-card__item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts-card__schedule list">
          <li class="contacts-card__day">Monday - Friday</li>
          <li class="contacts-card__time time-margin">06:00 AM - 10:00 PM</li>
          <li class="contacts-card__day">Saturday - Sunday</li>
          <li class="contacts-card__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="auth list">
          <li class="auth__item">
            <a class="auth__link link-decor" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="auth__item">
            <a class="auth__link link-decor" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="contacts-card">
        <span class="cafe">CAFE</span>
        <ul class="contacts-card__list list">
          <li class="contacts-card__city">New York</li>
          <li class="contacts-card__item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts-card__schedule list">
          <li class="contacts-card__day">Monday - Friday</li>
          <li class="contacts-card__time time-margin">06:00 AM - 10:00 PM</li>
          <li class="contacts-card__day">Saturday - Sunday</li>
          <li class="contacts-card__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="auth list">
          <li class="auth__item">
            <a class="auth__link link-decor" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="auth__item">
            <a class="auth__link link-decor" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts-btn">
      <button type="button">Our Locations</button>
      <button class="button__main" type="button">Franchise</button>
    </div>
  </div>
</section>
