<!-- section Contacts -->

<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-wrapper">
      <div class="contacts-card">
        <span>CAFE</span>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item">Chicago</li>
          <li class="contacts-card__item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item">Monday - Friday</li>
          <li class="contacts-card__item">06:00 AM - 10:00 PM</li>
          <li class="contacts-card__item">Saturday - Sunday</li>
          <li class="contacts-card__item">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="auth list">
          <li class="auth__item">
            <a class="auth__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="auth__item">
            <a class="auth__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="contacts-card">
        <span>FOOD TRUCK</span>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item">Los Angeles</li>
          <li class="contacts-card__item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item">Monday - Friday</li>
          <li class="contacts-card__item">06:00 AM - 10:00 PM</li>
          <li class="contacts-card__item">Saturday - Sunday</li>
          <li class="contacts-card__item">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="auth list">
          <li class="auth__item">
            <a class="auth__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="auth__item">
            <a class="auth__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="contacts-card">
        <span>CAFE</span>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item">New York</li>
          <li class="contacts-card__item">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item">Monday - Friday</li>
          <li class="contacts-card__item">06:00 AM - 10:00 PM</li>
          <li class="contacts-card__item">Saturday - Sunday</li>
          <li class="contacts-card__item">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="auth list">
          <li class="auth__item">
            <a class="auth__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="auth__item">
            <a class="auth__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts-btn">
      <button type="button">Our Locations</button>
      <button type="button">Franchise</button>
    </div>
  </div>
</section>
