<section class="section review-section">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slider__item slider-1">
          <picture>
            <source
              srcset="
                ./images/reviews/rev-img01_lg.webp    1x,
                ./images/reviews/rev-img01_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
                 srcset="
                ./images/reviews/rev-img01_lg.jpg    1x,
                ./images/reviews/rev-img01_lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="review__image"
              src="./images/reviews/rev-img01_lg.jpg"
              alt="Reviewer-1"
            />
          </picture>

          <div class="slider__quote">
            <div class="slider__textarea">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="slider__title">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__item slider-2">
          <picture>
            <source
              srcset="
                ./images/reviews/rev-img02_lg.webp    1x,
                ./images/reviews/rev-img02_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/rev-img02_lg.jpg    1x,
                ./images/reviews/rev-img02_lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="review__image"
              src="./images/reviews/rev-img02_lg.jpg"
              alt="Reviewer-2"
            />
          </picture>

          <div class="slider__quote">
            <div class="slider__textarea">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="slider__title">Sarah, Los Angeles</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__item slider-3">
          <picture>
            <source
              srcset="
                ./images/reviews/rev-img03_lg.webp    1x,
                ./images/reviews/rev-img03_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/reviews/rev-img03_lg.jpg    1x,
                ./images/reviews/rev-img03_lg@2x.jpg 2x
              "
              type="image/jpg"
            />

            <img
              class="review__image"
              src="./images/reviews/rev-img03_lg.jpg"
              alt="Reviewer-3"
            />
          </picture>

          <div class="slider__quote">
            <div class="slider__textarea">
              <p class="slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="slider__title">Jessica, Los Angeles</p>
        </div>
      </div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination custom-pagination"></div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
  </div>
</section>
