<!-- <section class="customer customer-section">
  <div class="customer__foto">
    <img src="./images/customer-reviews/girl-1.jpg" alt="" />

    <div class="customer__block">
      <div class="customer__figure">
        <p class="customer__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>

      <div class="customer__position"></div>
      <div>
        <p></p>
      </div>
      <div>
        <a> </a>
      </div>
    </div>
  </div>
</section> -->
