<!--Footer section-->
<footer class="page-footer">
    <div class="container footer-nav">
    <div class="footer-list">
        <a class="footer-list__home" href="#">homemade ice cream made</a>
        <a class="footer-list__passion"href="#">with passion</a>
    </div>
    <ul class="footer-social">
        <li class="footer-social__link">
            <svg class="footer-social__icon" width="32" height="32">
                <use href="#"></use>
            </svg>
        </li>
        <li class="footer-social__link">
            <svg class="footer-social__icon" width="32" height="32">
                <use href="#"></use>
            </svg>
        </li>
        <li class="footer-social__link">
            <svg class="footer-social__icon" width="32" height="32">
                <use href="#"></use>
            </svg>
        </li>
    </ul>
    <div class="footer-item">
        <p class="footer-item__text">Feel free to contact</p>
        <a class="footer-item__contact" href="tel:+61(0)383766284">+61(0)383766284</a>
    </div>
    <div class="footer-text">
        <p class="footer-text__ice">2022-IceCream.All Rights Reserved.</p>
    </div>
    
</div>
</footer>