<section class="section gallery-section">
  <div class="gallery__container">
    <h2 class="visually-hidden">Gallery</h2>

    <div class="gallery__wrapper">
      <div class="grid_element column_1">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img01_lg.webp    1x,
              ./images/gallery/gall_img01_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img01_lg.jpg    1x,
              ./images/gallery/gall_img01_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img01_md.webp    1x,
              ./images/gallery/gall_img01_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img01_md.jpg    1x,
              ./images/gallery/gall_img01_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img01_sm.webp    1x,
              ./images/gallery/gall_img01_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img01_sm.jpg    1x,
              ./images/gallery/gall_img01_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img01_lg.jpg"
            alt="Green ice-cream in wooden plate"
          />
        </picture>
      </div>
      <div class="grid_element column_2">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img02_lg.webp    1x,
              ./images/gallery/gall_img02_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img02_lg.jpg    1x,
              ./images/gallery/gall_img02_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img02_md.webp    1x,
              ./images/gallery/gall_img02_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img02_md.jpg    1x,
              ./images/gallery/gall_img02_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img02_sm.webp    1x,
              ./images/gallery/gall_img02_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img02_sm.jpg    1x,
              ./images/gallery/gall_img02_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img02_lg.jpg"
            alt="Rose ice-cream in a cone"
          />
        </picture>

        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img03_lg.webp    1x,
              ./images/gallery/gall_img03_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img03_lg.jpg    1x,
              ./images/gallery/gall_img03_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img03_md.webp    1x,
              ./images/gallery/gall_img03_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img03_md.jpg    1x,
              ./images/gallery/gall_img03_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img03_sm.webp    1x,
              ./images/gallery/gall_img03_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img03_sm.jpg    1x,
              ./images/gallery/gall_img03_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img03_lg.jpg"
            alt="|Raspberry sorbet on marble backgroung"
          />
        </picture>
      </div>

      <div class="grid_element column_3">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img04_lg.webp    1x,
              ./images/gallery/gall_img04_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img04_lg.jpg    1x,
              ./images/gallery/gall_img04_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img04_md.webp    1x,
              ./images/gallery/gall_img04_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img04_md.jpg    1x,
              ./images/gallery/gall_img04_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img04_sm.webp    1x,
              ./images/gallery/gall_img04_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img04_sm.jpg    1x,
              ./images/gallery/gall_img04_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image gallery__image--big"
            src="./images/gallery/gall_img04_lg.jpg"
            alt="Many ice-creams in cones"
          />
        </picture>

        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img05_lg.webp    1x,
              ./images/gallery/gall_img05_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img05_lg.jpg    1x,
              ./images/gallery/gall_img05_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img05_md.webp    1x,
              ./images/gallery/gall_img05_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img05_md.jpg    1x,
              ./images/gallery/gall_img05_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img05_sm.webp    1x,
              ./images/gallery/gall_img05_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img05_sm.jpg    1x,
              ./images/gallery/gall_img05_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img05_lg.jpg"
            alt="Girl eating ice-cream"
          />
        </picture>
      </div>

      <div class="grid_element column_4">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img06_lg.webp    1x,
              ./images/gallery/gall_img06_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img06_lg.jpg    1x,
              ./images/gallery/gall_img06_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img06_md.webp    1x,
              ./images/gallery/gall_img06_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img06_md.jpg    1x,
              ./images/gallery/gall_img06_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img06_sm.webp    1x,
              ./images/gallery/gall_img06_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img06_sm.jpg    1x,
              ./images/gallery/gall_img06_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img06_lg.jpg"
            alt="Ice-cream in a bowl with fruits"
          />
        </picture>

        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img07_lg.webp    1x,
              ./images/gallery/gall_img07_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img07_lg.jpg    1x,
              ./images/gallery/gall_img07_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img07_md.webp    1x,
              ./images/gallery/gall_img07_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img07_md.jpg    1x,
              ./images/gallery/gall_img07_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img07_sm.webp    1x,
              ./images/gallery/gall_img07_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img07_sm.jpg    1x,
              ./images/gallery/gall_img07_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img07_lg.jpg"
            alt="Girl holding ice-cream on the street"
          />
        </picture>
      </div>

      <div class="grid_element column_5">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img08_lg.webp    1x,
              ./images/gallery/gall_img08_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img08_lg.jpg    1x,
              ./images/gallery/gall_img08_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img08_md.webp    1x,
              ./images/gallery/gall_img08_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img08_md.jpg    1x,
              ./images/gallery/gall_img08_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img08_sm.webp    1x,
              ./images/gallery/gall_img08_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img08_sm.jpg    1x,
              ./images/gallery/gall_img08_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img08_lg.jpg"
            alt="Dog licking ice-cream"
          />
        </picture>

        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img09_lg.webp    1x,
              ./images/gallery/gall_img09_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img09_lg.jpg    1x,
              ./images/gallery/gall_img09_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img09_md.webp    1x,
              ./images/gallery/gall_img09_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img09_md.jpg    1x,
              ./images/gallery/gall_img09_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img09_sm.webp    1x,
              ./images/gallery/gall_img09_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img09_sm.jpg    1x,
              ./images/gallery/gall_img09_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img09_lg.jpg"
            alt="Hand holding coffee beverage"
          />
        </picture>
      </div>

      <div class="grid_element column_6">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img10_lg.webp    1x,
              ./images/gallery/gall_img10_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gall_img10_lg.jpg    1x,
              ./images/gallery/gall_img10_lg@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img10_md.webp    1x,
              ./images/gallery/gall_img10_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gall_img10_md.jpg    1x,
              ./images/gallery/gall_img10_md@2x.jpg 2x
            "
            type="image/jpg"
          />

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img10_sm.webp    1x,
              ./images/gallery/gall_img10_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gall_img10_sm.jpg    1x,
              ./images/gallery/gall_img10_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="gallery__image"
            src="./images/gallery/gall_img10_lg.jpg"
            alt="Milkshake, donat and weeped cream"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
