<div class="hero">
  <header class="page-header">
    <!-- <a href="#"
        ><img
          src="./images/logo-ice-cream.png"
          alt="Logo Ice Cream"
          width="199"
          height="50"
      /></a> -->
    <a href="#"
      ><svg class="logo">
        <use href="./images/icons.svg#icon-logo" width="199" height="50"></use>
      </svg>
    </a>

    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">How it's made?</a>
        </li>
        <li>
          <a href="#">Our products</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
      </ul>
    </nav>

    <button type="button" data-menu-button aria-expanded="false">
      <svg aria-label="Переключатель мобільного меню">
        <use href="./images/icons.svg#icon-burger" width="20" height="12"></use>
        <use href="./images/icons.svg#icon-close" width="16" height="16"></use>
      </svg>
    </button>

    <!-- Mobile Menu -->

    <div>
      <button class="mobile__button" type="button">
        Buy now
        <svg>
          <use
            href="./images/icons.svg#icon-arrow-btn"
            width="7"
            height="10"
          ></use>
        </svg>
      </button>

      <ul class="mobile-nav">
        <li class="mobile-nav__item">
          <a class="mobile-nav__link mobile-nav__link--current" href="">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">About us</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">How it's made?</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">Our products</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">Contacts</a>
        </li>
      </ul>
    </div>
  </header>

  <!-- Hero -->

  <h1 class="hero__title">
    ice cream <br />
    made with <br />
    <span>passion</span>
  </h1>
  <button type="button">Products</button>
  <button type="button">How it’s made?</button>
  <img src="./images/header-hero/milk.png" alt="A jug of milk" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </p>
  <svg>
    <use
      href="./images/icons.svg#icon-arrow-right"
      width="209"
      height="44"
    ></use>
  </svg>
  <div class="hero__circle">
    <img
      class="hero__icecream"
      src="./images/header-hero/ice-cream.png"
      alt="Ice Cream"
    />
  </div>
  <div>
    <p>16</p>
    <p>cafes</p>
  </div>
  <div>
    <p>23</p>
    <p>food trucks</p>
  </div>
  <img src="./images/header-hero/girl.png" alt="A girl with an ice cream" />
</div>
