<header class="page-header">
  <!-- <a href="#"
        ><img
          src="./images/logo-ice-cream.png"
          alt="Logo Ice Cream"
          width="199"
          height="50"
      /></a> -->
  <a class="logo__link link-decor" href="#"
    ><svg class="logo__pic">
      <use href="./images/icons.svg#icon-logo" width="199" height="50"></use>
    </svg>
  </a>

  <nav class="site-nav">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About us</a>
      </li>
      <li>
        <a href="#">How it's made?</a>
      </li>
      <li>
        <a href="#">Our products</a>
      </li>
      <li>
        <a href="#">Contacts</a>
      </li>
    </ul>
  </nav>

  <button
    class="menu__button"
    type="button"
    data-menu-button
    aria-expanded="false"
  >
    <svg class="menu__pic" aria-label="Переключатель мобільного меню">
      <use class="menu__buger" href="./images/icons.svg#icon-burger"></use>
      <use
        class="menu__close"
        href="./images/icons.svg#icon-close"
        width="16"
        height="16"
      ></use>
    </svg>
  </button>

  <!-- Mobile Menu -->

  <!-- <div>
      <button class="mobile__button" type="button">
        Buy now
        <svg>
          <use
            href="./images/icons.svg#icon-arrow-btn"
            width="7"
            height="10"
          ></use>
        </svg>
      </button>

      <ul class="mobile-nav">
        <li class="mobile-nav__item">
          <a class="mobile-nav__link mobile-nav__link--current" href="">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">About us</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">How it's made?</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">Our products</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">Contacts</a>
        </li>
      </ul>
    </div>-->
</header>

<div class="hero container">
  <!-- Hero -->
  <dvi class="hero__title--main">
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__title--accent">passion</span>
    </h1>
    <button type="button">Products</button>
    <button type="button">How it’s made?</button>
  </dvi>
  <img
    class="hero__milk"
    src="./images/header-hero/milk.png"
    width="152px"
    alt="A jug of milk"
  />

  <p class="hero__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </p>
  <div class="hero__arrow-circle">
    <svg class="hero__arrow">
      <use href="./images/icons.svg#icon-arrow-right" width="8"></use>
    </svg>
  </div>
  <div class="hero__circle"></div>
  <img
    class="hero__icecream"
    src="./images/header-hero/ice-cream.png"
    width="171"
    alt="Ice Cream"
  />
  <div class="hero__info hero__info--16">
    <p>16</p>
    <p class="hero__text-right">cafes</p>
  </div>
  <div class="hero__info hero__info--23">
    <p>23</p>
    <p class="hero__text-right">food trucks</p>
  </div>
  <img
    class="hero__girl"
    src="./images/header-hero/girl.png"
    width="190px"
    alt="A girl with an ice cream"
  />
</div>
