<header class="page-header container" id="header">
  <a class="logo__link link-decor" href="#"
    ><svg class="logo__pic">
      <use href="./images/icons.svg#icon-logo" width="199" height="50"></use>
    </svg>
  </a>

  <!-- navigation -->

  <nav class="site-nav">
    <ul class="site-nav__list list">
      <li class="site-nav__item current">
        <a class="nav__link" href="./index.html">Home</a>
      </li>
      <li class="site-nav__item">
        <a class="nav__link" href="#advantages">About us</a>
      </li>
      <li class="site-nav__item">
        <a class="nav__link" href="#about">How it's made?</a>
      </li>
      <li class="site-nav__item">
        <a class="nav__link" href="#products">Our products</a>
      </li>
      <li class="site-nav__item">
        <a class="nav__link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>

  <!-- modal butoon -->

  <button
    class="button__main button--visible open-hero-modal"
    type="button"
    id="open_hero-modal"
    data-hero-open
  >
    Buy now
    <svg class="button__icon">
      <use
        class="button__arrow"
        href="./images/icons.svg#icon-arrow-btn"
        width="7"
        height="10"
      ></use>
    </svg>
  </button>
</header>

<div class="hero container">
  <!-- Hero -->

  <!-- menu button -->
  <button
    class="menu__button"
    type="button"
    data-menu-button
    aria-expanded="false"
  >
    <svg
      class="menu__pic"
      aria-label="Переключатель мобільного меню"
      width="44"
      height="44"
    >
      <use
        class="menu__icon menu__burger"
        href="./images/icons.svg#icon-burger"
        width="40"
        height="24"
      ></use>
      <use
        class="menu__icon menu__close"
        href="./images/icons.svg#icon-close"
        width="16"
        height="16"
      ></use>
    </svg>
  </button>

  <!-- mobile menu -->

  <div class="mobile-menu" data-menu>
    <button class="button__main button--mobile" type="button">
      Buy now
      <svg class="button__icon">
        <use
          class="button__arrow"
          href="./images/icons.svg#icon-arrow-btn"
          width="7"
          height="10"
        ></use>
      </svg>
    </button>

    <!-- mobile bavigation -->

    <ul class="mobile-nav list">
      <li class="mobile__item">
        <a class="mobile__link current" href="#header">Home</a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link" href="#advantages">About us</a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link" href="#about">How it's made?</a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link" href="#products">Our products</a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </div>

  <div class="hero__title--main">
    <h1 class="hero__title animate__animated animate__flip">
      ice cream <br />
      made with <br />
      <span class="hero__title--accent">passion</span>
    </h1>
    <div class="hero__buttons">
      <a class="button__main button--small button--inverse" href="#products"
        >Products</a
      >
      <a class="button__main button--small" href="#about">How it's made?</a>
    </div>
  </div>
  <img
    class="hero__milk"
    srcset="
      ./images/header-hero/milk-152.png     152w,
      ./images/header-hero/milk-304-@2x.png 304w,
      ./images/header-hero/milk-456-@3x.png 456w
    "
    sizes="(min-width: 1200px) 456px, (min-width: 768px) 304px, (min-width: 320px) 152px, 100vw"
    src="./images/header-hero/milk-152.png"
    width="152"
    alt="A jug of milk"
  />

  <p class="hero__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </p>

  <div class="hero__arrow-circle">
    <svg class="hero__arrow">
      <use href="./images/icons.svg#icon-arrow-right" width="8"></use>
    </svg>
  </div>

  <div class="hero__circle"></div>
  <img
    class="hero__icecream"
    srcset="
      ./images/header-hero/ice-cream-171.png     171w,
      ./images/header-hero/ice-cream-342-@2x.png 342w,
      ./images/header-hero/ice-cream-513-@3x.png 513w
    "
    src="./images/header-hero/ice-cream-171.png"
    sizes="(min-width: 1200px) 513px, (min-width: 768px) 342px, (min-width: 320px) 171px, 100vw"
    width="171"
    alt="Ice Cream"
  />

  <div class="hero__info hero__info--16">
    <p>16</p>
    <p class="hero__text-right">cafes</p>
  </div>
  <div class="hero__info hero__info--23">
    <p>23</p>
    <p class="hero__text-right">food trucks</p>
  </div>
  <img
    class="hero__girl"
    srcset="
      ./images/header-hero/girl-190.png     190w,
      ./images/header-hero/girl-380-@2x.png 380w,
      ./images/header-hero/girl-570-@3x.png 570w,
      ./images/header-hero/girl-760-@4x.png 760w
    "
    sizes="(min-width: 1200px) 570px, (min-width: 768px) 380px, (min-width: 320px) 190px, 100vw"
    src="./images/header-hero/girl-190.png"
    width="190"
    alt="A girl with an ice cream"
  />
</div>

<!-- modal window -->

<div class="hero-modal" id="hero-modal" data-hero-modal>
  <div class="hero-modal__container">
    <div class="hero-modal__body" id="hero-modal__body">
      <p class="hero-modal__title">Subscribe first!</p>

      <form class="form-header">
        <ul class="list checkbox-flex">
          <li>
            <input class="checkbox" type="checkbox" /> <span>Ice Cream</span>
          </li>
          <li>
            <input class="checkbox" type="checkbox" /> <span>Ice Coffee</span>
          </li>
          <li>
            <input class="checkbox" type="checkbox" /> <span>Milkshake</span>
          </li>
        </ul>
        <input
          class="hero-modal__input"
          type="text"
          placeholder="Name"
          required
        />
        <input
          class="hero-modal__input"
          type="tel"
          placeholder="Tel"
          required
        />
        <input
          class="hero-modal__input"
          type="email"
          placeholder="E-mail"
          required
        />

        <div class="hero-modal__buttons">
          <button
            class="button__main button--inverse hero-modal__button"
            type="submit"
          >
            Subscribe
          </button>
          <button
            class="button__main hero-modal__button"
            type="submit"
            data-hero-close
          >
            Close
          </button>
        </div>
        <!-- <button type="button" class="hero-modal__close" id="hero-modal__close">
          <svg class="hero-modal__close_icon" width="15" height="15">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button> -->
      </form>
    </div>
  </div>
</div>
