<section class="section section__products" id="product">
  <div class="products">
    <span class="products__text">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__items">
        <div class="products__item products__item--rectangle-pink">
          <h3 class="products__item-title">ice cream</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
            <button class="products__button" type="button"></button>
          </p>
        </div>
      </li>
      <li class="products__items">
        <div class="products__item products__item--rectangle-coffee">
          <h3 class="products__item-title">ice coffee</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
            <button class="products__button" type="button"></button>
          </p>
        </div>
      </li>
      <li class="products__items">
        <div class="products__item products__item--rectangle-green">
          <h3 class="products__item-title">milkshakes</h3>
          <p class="products__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
            <button class="products__button" type="button"></button>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
