<!-- ========== Products ========== -->
<section class="section section__products">
  <div class="products container">
    <span class="products__text">100% natural</span>
    <h2 class="products__title">products</h2>

    <ul class="products__list list">
      <li class="products__items products__item--rectangle-pink">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <buttton class="products__button" type="button">
          <svg class="products__icon">
            <use
              href="./images/icons.svg#icon-arrow-right"
              width="20"
              height="20"
            ></use>
          </svg>
        </buttton>
      </li>

      <li class="products__items products__item--rectangle-coffee">
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <buttton class="products__button" type="button">
          <svg class="products__icon">
            <use
              href="./images/icons.svg#icon-arrow-right"
              width="20"
              height="20"
            ></use>
          </svg>
        </buttton>
        </buttton>
      </li>

      <li class="products__items products__item--rectangle-green">
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <buttton class="products__button" type="button">
          <svg class="products__icon">
            <use
              href="./images/icons.svg#icon-arrow-right"
              width="20"
              height="20"
            ></use>
          </svg>
        </buttton>
      </li>
    </ul>
  </div>
</section>
